@font-face {
    font-family:"OpenSans";
    src: url(OpenSans.ttf) format("truetype");
  }
  /*@font-face{
    font-family:"OpenSans";
    src:url(OpenSansBold.ttf) format("truetype"); 
}*/
body{
    margin:0 auto;
    padding:0;
    overflow-x:hidden;
   
}
.wrapper{
    margin:0 auto;
    overflow:hidden;
    padding:0;
    width:100%;
   
  
}
.header {
    width:100%;
    height:70vh;
    object-fit: contain;
    
    background-image:url("ribon-banner.png");
    background-repeat:no-repeat;
    background-size: 100% 100%;
  }
  .mediadotnet_logo_black {
    width: 11.8%;
    /*height: 32px;*/
    object-fit: contain;
    vertical-align: middle;
    margin:3.66% 78% 3.66% 10.248%;
  }
  .Higher-Revenue-and-A {
    width:79.5%;
    /*height: 148px;*/
    vertical-align: middle;
    font-family: OpenSans;
    font-size: 3.25rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.93px;
    text-align: center;
    color: #ffffff;
    margin:0 10.248% 1.464% 10.248%;
  }
  .Backed-by-our-propri {
    width: 62.2%;
    //height: 64px;
    font-family: OpenSans;
    font-size: 1.3125rem;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin:0 18.9% 2.196% 18.9%;
  }
  .Rectangle-Copy-1 {
    width: 16.83%;
    /*height: 50px;*/
    border-radius: 2.375em;
    background-color: #ffffff;
    margin:0 41.6% 1.90% 41.6%;
  }
  .Rectangle-Copy-1 h1{
    width: 55.65%;
    /*height: 24px;*/
    font-family: OpenSans;
    vertical-align: middle;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #e94555;
    margin:5.21739% 22.39130437% 6.086956% 21.95652%;
  }
  .Path-5-Copy {
    width: 100%;
    //height: 1054px;
    //opacity: 0.5;
    background-color: #f8f9fb;
  }
  .container1{
      width:100%;
      //height:457px;
      display:flex;
     
      justify-content: center;
      
     
      
  }
  .st-click {
    width: 24.37777%;
    //height: 415px;
    object-fit: contain;
    margin:3.07467% 2.85505% 0 0;
    
    
  }
  .nd-click {
    width: 24.304538%;
    /*height: 415px;*/
    object-fit: contain;
    margin:3.07467% 2.781844% 0 0;
    
  }
  .Final {
    width: 24.23133%;
    /*height: 415px;*/
    object-fit: contain;
    margin:3.07467% 0 0 0;
  }
 
  .With-Medianets-two p{
        width:79.062%;
        /*height: 96px;*/
        font-family: OpenSans;
        font-size: 1.125rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.78;
        letter-spacing: normal;
        color: #4c4c4c;
        margin:0 10.2489% 3.6603% 10.6881%;
      
  }
  
  .Path-4{
    width: 26.8667%;
   /* height: 71px;*/
    object-fit: contain;
    position: relative;
    display: inline-block;
    margin:-0.65885% 0 2.92857% 22.913% ;
    
}
.Path-4 img{
  width:100%;
  /*height:71px;*/
}
  .Path-4-Copy {
    width:26.8667%;
   /* height: 71px;*/
    object-fit: contain;
    position: relative;
    display: inline-block;
    margin:-0.65885% 22.2547% 2.92857% 0;
  }
  .Path-4-Copy img{
    width:100%;
    /*height:71px;*/
  }
   .st-Click-Relevant {
     position: absolute;
    width:86.37602%;
    /* height: 22px; */
    font-family: OpenSans;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
    vertical-align: middle;
    top:33.2%;
    /*bottom:6.53950%;*/
    right:6.53950%;
    left:7.08446%;
  }
  .st-Click-Relevant .text-style-1 {
    font-weight: 800;
    color: #e94555;
    
  }
  
  
  .nd-Click-Custom-SE {
    width: 80.9264%;
    /*height: 22px;*/
    font-family: OpenSans;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
    position:absolute;
    vertical-align: middle;
    top:34.5%;
    /*bottom:24px;*/
    right:9.5367%;
    left:9.5367%;
  }
  .nd-Click-Custom-SE .text-style-1 {
    font-weight: 800;
    color: #e94555;
  }
  .yash{
      width:100%;
     /*height:266px;*/
    display: flex;
   
      
      
  }
  .abc{
    display: none;
  }
  .xyz{
    display: none;
  }
  .gaming{
    display: none;
  }
  .gaming1{
    display: none;
  }
  .Are-you-worried-abou {
    width: 100%;
    //height: 64px;
    font-family: OpenSans;
    font-size: 1.125rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #4c4c4c;
    margin:0px 15.577% 1.25628% 0px;
  }
  .Theres-no-reason-to {
    width:52%;
   // height: 32px;
    font-family: OpenSans;
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #4c4c4c;
    margin:0 64.824% 1.25628% 0;
  }
  .Medianets-2-click {
    width: 94.9748%;
    //height: 64px;
    font-family: OpenSans;
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #4c4c4c;
    margin:0 20.603% 7.5376% 0;
  }
  .Rectangle-Copy-3 {
    width: 57.788%;
   // height: 50px;
    border-radius: 2.375rem;
    background-color: #e94555;
    margin:0 57.7889% 0 0;
  }
  .Rectangle-Copy-3 h1{
    width:55.65217%;
   // height: 24px;
    font-family: OpenSans;
    font-size: 1.125rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    display: inline-block;
    margin:5.21739% 22.39130437% 6.086956% 21.95652%;
  }
  .help{
      width:29.136%;
      //height:250px;
      margin:0 4.538% 0 10.2489%;
      
  }
  .solve{
      width:45.3879%;
      // height:266px;
      margin:0 10.688% 0 0;
  }
  .table {
    width: 100%;
    height: 266px;
    object-fit: contain;
    border: solid 1px #d4d4d4;
    background-color: #ffffff;
    
  }
  .Rectangle-Copy-4{
    display: none;
  }
  .Heres-a-snapshot-of p{
  width: 79.5021%;
  //height: 32px;
  font-family: OpenSans;
  font-size: 1.125rem;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
  margin:3.66% 10.248901% 0 10.248910%;
}
.Chart{
  width:100%;
  /*height:663px;*/
}

.Chart img{
  width: 54.83162%;
  /* height: 633px;*/
  object-fit: contain;
  margin:2.19619% 22.54758% 0 22.6207%;
  vertical-align: middle;
}
.container{
  width:100%;
  height:37.1875rem;
  padding:0;
  margin:3.660% 0 2.928257% 0;
}
.rtc{
  width: 100%;
  height: 28.125rem;
  background-color: #f7f8f9;
}
.rtc h2{
  width: 23.2796%;
  height: 2.5rem;
  font-family: OpenSans;
  font-size: 1.875rem;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
  vertical-align: middle;
  margin:2.928% 38.36017% 0 38.36017%;
  display: inline-block;
}
#myCarousel.carousel.slide{
  width:100%;
  height:30.3125rem;
  margin:0;
  
}
.carousel-inner{
  width: 54.1727%;
  height: 30.3125rem;
  border-radius:0.3125em;
  box-shadow: 0.0625em 0.1875em 0.9375em -0.125em rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
   margin:-24.8901% 22.84040% 0 22.9868%; 
}
.David-Bynon {
  width:20.8108%;
  height: 1.75rem;
  font-family: OpenSans;
  font-size: 1.3125em;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
  margin:6.7567% 39.594% 0 39.594%;
}
.Medicarewirecom {
  width: 24.5%;
  height: 1.75rem;
  opacity: 0.7;
  font-family: OpenSans;
  font-size: 1.3125em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
  margin:1% 37.8% 0 37.7%;
}
.Group-5 {
  width: 9.5%;
  height: 4.375rem;
  object-fit: contain;
  margin:4.9% 45.4% 0 45.1%;
}
.From-the-very-first {
  width: 74.3%;
  height: 11.25rem;
  font-family: OpenSans;
  font-size: 1.125rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
  margin:5.2% 12.7% 0 13%;
}
.carousel-indicators
  {
    width: 54.1727%;
    height:0.625rem;
    margin:0;
    left:22.9868%;
    right:25.3294%;
    top:90.8448%;
    padding: 0;

    
}
  .carousel-indicators .active{
    width: 1.5%;
    height: 0.625rem;
    background-color: #e94555;
    padding:0;
  }

  .carousel-indicators li{
    width: 1.5%;
    height: 0.625rem;
    opacity: 0.2;
    background-color: #e94555;
    padding:0;
  }
.Rectangle-Copy-2 {
  width: 16.83746%;
 // height: 50px;
  border-radius: 2.375em;
  background-color: #e94555;
  margin:2.92857% 41.5812% 0 41.5812%;
}
.Rectangle-Copy-2 h1{
  width: 55.65217%;
  //height: 24px;
  font-family: OpenSans;
  font-size: 1.125rems;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  display: inline-block;
  margin:5.21739% 22.39130437% 6.086956% 21.95652%;
}
.footer {
  width: 100%;
  height:6.5625rem;
  object-fit: contain;
  background-color: #f8f9fb;
  margin:2.92825% 0 0 0;
}
.logo-ybnca-copy-5 {
  width: 13.3%;
  height: 1.9375rem;
  object-fit: contain;
  vertical-align: middle;
  margin:1.6105% 43.9% 1.24450% 42.9%;
}
.Medianet-2019-Con {
  width: 36.1%;
  height: 0.8125rem;
  font-family: OpenSans;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: normal;
  color: #474747;
  vertical-align: middle;
  margin:0 32.4% 1.6105% 31.5%;
  display:inline-block;
}
.Revenue-hike-by-vert{
  display: none;
}
.Bar{display: none;}
@media screen and (max-width:1348px) and (min-width:1201px)
{
  .header{
    width:100%;
    height: 100%;
    padding:1%;
  }
  .Rectangle-Copy-1 h1{
    font-size:1rem;
  }
  .st-Click-Relevant{
    font-size:0.9rem;
  }
  .nd-Click-Custom-SE{
    font-size:0.9rem;
  }
  .st-click{
    width:auto;
    margin:3.07467% 0 0 0;
  }
  .nd-click{
    width:auto;
    margin:3.07467% 0 0 0;
  }
  .Final{
    width:auto;
    margin:3.07467% 0 0 0;
  }
  .Theres-no-reason-to{
    width:58%;
  }
  .table{
    object-fit:fill;
  }
  .Rectangle-Copy-3 h1{
    font-size:1rem;
  }
  .rtc h2{
    width:25.2796%;
  }
  #myCarousel.carousel.slide{
    height: 31.3125rem;
  }
  .carousel-inner{
    margin:-20.625em 22.84040% 0 22.9868%;
  }
  .Medianet-2019-Con{
    width:40.1%;
    margin:0 26.4% 1.6105% 29.5%;
    text-align:center;
  }
  .carousel-indicators li{
    height: 0.8rem;
    width:0.8125rem;
  }
  .carousel-indicators .active{
    height: 0.8rem;
    width:0.8125rem;
  }
}
@media screen and (max-width:1200px) and (min-width:1025px)
{
  .header{
    width:100%;
    height:100%;
    padding:1%;
  }
  .mediadotnet_logo_black{
    margin: 3.66% 78% 2.5% 10.248%;
  }
 
 .Higher-Revenue-and-A{
   font-size:2rem;
   margin: 0 10.248% 2.464% 10.248%;
 }
 .Backed-by-our-propri{
   font-size:1.2rem;
 }
 .Rectangle-Copy-1{
   padding:
 }
 .Rectangle-Copy-1 h1{
    width:100%;
    font-size:1rem;
    margin: 5.21739% 0% 6.086956% 0%;
}

.st-click img{
  width:100%;
  flex-wrap: wrap;
  margin:0;
}
.nd-click img{
  width:100%;
  flex-wrap:wrap;
  margin:0;
}
.Final img{
  width:100%;
  margin:0;
}
.st-Click-Relevant{
  font-size: 0.75rem;
}
.nd-Click-Custom-SE
{
  font-size:0.75rem;
}
.With-Medianets-two p{
  font-size:1.125rem;
  line-height:1.5;
}
.Are-you-worried-abou {
  line-height:1.5;
}
.Theres-no-reason-to{
  width:69%;
  line-height: 1.5;
}
.Medianets-2-click
{
  line-height:1.5;
}
.Rectangle-Copy-3 h1{
  width:100%;
  font-size:1rem;
  margin: 5.21739% 0% 6.086956% 0%;
}
.table{
  object-fit: fill;
}
.Heres-a-snapshot-of p{
  font-size:1.3rem;
  line-height:1.5;
}
.Chart img{
  width: 54.83162%
}
.container{margin:3.660% 0 0% 0;}
.rtc h2{
 font-size:1.5rem;
}
.carousel-inner{
  margin: -325px 22.84040% 0 22.9868%;
  height: 28.3125rem;
}
#myCarousel.carousel.slide{
  height:auto;
}
/*.carousel-indicators{
  top: 90.8448%;
  left: 25.9868%;
}*/
.carousel-indicators li{
  height: 0.8rem;
  width:0.8125rem;
}
.carousel-indicators .active{
  height: 0.8rem;
  width:0.8125rem;
}
.David-Bynon{
  height:auto;
  font-size:1.2rem;
}
.Medicarewirecom{
  height: auto;
  font-size:1.2rem;
}
.From-the-very-first{
  height:auto;
  font-size:1rem;
  text-align: justify;
}
.Rectangle-Copy-2 h1{
  width:100%;
  font-size:1rem;
  margin: 5.21739% 0% 6.086956% 0%;
}
.Medianet-2019-Con{
  width: 48.1%;
 
}
}
@media screen and (max-width:1024px) and (min-width:768px)
{
  .header{
    width:100%;
    height:100%;
    padding:1%;
  }
  .mediadotnet_logo_black{
    width: 15.8%;
    margin:3.66% 73.9% 3.66% 10.248%;
  }
  .Higher-Revenue-and-A{
    font-size: 2.8rem;
    margin:0 10.248% 2.464% 10.248%;
    letter-spacing: -0.93px;
  }
  .Backed-by-our-propri{
    font-size:1.125rem;
    line-height:1.2;
  }
  .Rectangle-Copy-1 h1{
    width:100%;
    font-size:0.95rem;
    margin: 5.21739% 0% 6.086956% 0%;
}
.container1{flex-wrap: wrap;
  justify-content: center;
}
.st-click{
  flex:0 1 27%;
  margin:3.07467% 0 0 0;
  
}
.nd-click{flex:0 1 27%;
  margin:3.07467% 0 0 0;
 }
.Final{flex:0 1 27%;
  margin:3.07467% 0 0 0;}
.st-click img{
  width:100%;
  margin:0;
}
.nd-click img{
  width:100%;
  margin:0;
}
.Final img{
  width:100%;
  margin:0;
}
.With-Medianets-two p{
   font-size:1.05rem;
   line-height: 1.4;
}
.Path-4{
  width: 30.8667%;
  margin:-0.65885% 0 2.92857% 18.2547%;
}
.Path-4-Copy{
  width: 30.8667%;
  margin:-0.65885% 18.2547% 2.92857% 0;
}
.st-Click-Relevant{
  font-size: 0.8rem;
  top: 20.2%;
}
.nd-Click-Custom-SE
{
  font-size:0.8rem;
  top: 21.5%;
}
.Are-you-worried-abou {
  line-height:1.4;
  font-size:1.05rem;
  padding:1%;
}
.Theres-no-reason-to{
  width:88%;
  line-height: 1.4;
  font-size:1.05rem;
  padding:1%;
}
.Medianets-2-click
{
  line-height:1.4;
  font-size:1.05rem;
  padding:1%;
}
.Rectangle-Copy-3 h1{
  width:100%;
  font-size:0.95rem;
  margin: 5.21739% 0% 6.086956% 0%;
}
.table{
  object-fit: fill;
}
.Heres-a-snapshot-of p{
  font-size:1.05rem;
  line-height:1.4;
}
.Chart img{
  width:57%;
}
.container{margin:3.660% 0 0% 0;
height: 0%;}
.rtc h2{
 font-size:1rem;
 margin:2.928% 38.36017% 0 36.36017%;
}
.carousel-inner{
  margin:-375px 22.84040% 0 22.9868%;
 
  height:27.3125rem;
}
#myCarousel.carousel.slide{
  height:auto;
}
.carousel-indicators{
 top: 93.8448%
}
.David-Bynon{
  height:auto;
  width:25.8108%;
  font-size:1rem;
  margin:6.7567% 34.594% 0 36.594%;
}
.Medicarewirecom{
  width:32.5%;
  height: auto;
  font-size:1rem;
  margin:1% 37.8% 0 33.7%;
}
.From-the-very-first{
  height:auto;
  font-size:1rem;
  text-align: justify;
}
.Rectangle-Copy-2 h1{
  width:100%;
  font-size:0.95rem;
  margin: 5.21739% 0% 6.086956% 0%;
}
.Medianet-2019-Con{
  width: 55.1%;
  margin:0 33.4% 3.6105% 31.5%;
}
.carousel-indicators .active{
  width:0.6875rem;
  height: 0.625rem;
  background-color: #e94555;
  border-radius:0.5rem;
  padding:0;
}
.carousel-indicators li{
  width:0.6875rem;
  height: 0.625rem;
  background-color: #e94555;
  border-radius:0.5rem;
  padding:0;
}
}
@media screen and (max-width:767px) and (min-width:450px)
{
  .header
  {
    width:100%;
    height:100%;
    padding:1%;
  }
  .mediadotnet_logo_black{
    width:20.8%;
  }
  .Higher-Revenue-and-A{
    width:65.5%;
    margin:0 12.248% 1.464% 18.248%;
    font-size:1.75rem;
  }
  .Backed-by-our-propri{
    font-size:1.1rem;
  }
  .Rectangle-Copy-1{
    margin:0 30.6% 5.90% 33.6%;
  width:35.8%;
  }
  .Rectangle-Copy-1 h1{
    font-size:0.9rem;
    width:62.65217%;
    margin:5.21739% 18.39130437% 5.21739% 19%;
  
  }
  .container1{
    flex-wrap:wrap;
    justify-content: center;
    position: relative;
  }
  /*.st-click{
    width:80%;
    flex:0 1 auto;
    margin:5% 0;
    
  }
  .st-click img{
    width:100%;
  }
  
  .nd-click{
    width:80%;
    flex:0 1 auto;
    margin:3% 0;
    
  }
  .nd-click img{
    width:100%;
  }
  .Final{
    width:80%;
    flex:0 1 auto;
    margin:3% 0;
    
  }
  .Final img{
    width:100%;
  }*/
  .Path-4 {
    display: none;
  }
  .Path-4-Copy {
    display: none;
  }
  .With-Medianets-two p{
    line-height:1.63;
    font-size:1rem;
  }
  .yash{
    flex-wrap:wrap;
  }
  .help{
    width:100%;
   
  }
  .Are-you-worried-abou{
    line-height: 1.63;
    font-size: 1rem;
  }
  .Theres-no-reason-to{
    line-height: 1.63;
    font-size: 1rem;
  }
  .Medianets-2-click{
    line-height: 1.63;
    font-size: 1rem;
  }
  .Rectangle-Copy-3{
    display: none;
  }
  .solve{
    width:100%;
    margin:0 2.688% 0 2.688%;
    
  }
  .table{
    object-fit: fill;
  }
  .Rectangle-Copy-4{
    border-radius: 2.375em;
    background-color: #e94555;
    margin:2% auto;
    width:35.8%;
    display: block;
  }
  .Rectangle-Copy-4 h1{
    width: 62.65%;
    /*height: 24px;*/
    font-family: OpenSans;
    vertical-align: middle;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:#ffffff;
    margin:5.21739% 18.39130437% 6.086956% 19%;

  }
  .Heres-a-snapshot-of{
    font-size: 1.3125rem;
    margin:2%;
  }
  .Heres-a-snapshot-of p{
    width:100%;
    margin:0;
    line-height: 1.63;
  }
  .Chart{display: none;}
  .Revenue-hike-by-vert{
    display: block;
    margin:2%;
  }
  .Revenue-hike-by-vert p{
    width:96%;
    margin:2%;
    transform: rotate(-360deg);
    font-family: OpenSans;
    font-size: 1rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
  }
  .Bar{
    width:100%;
    display: block;
    object-fit: contain;
  }
  .Bar img{
    width:88%;
    margin: 4.75% 6.2%;
  }
  .container{margin:3.660% 0 10.90% 0;
  height: 0%;}
.rtc h2{
 font-size:1.125rem;
 width: 50.2796%;
    margin: 4% 25% 0 25%;
}
.carousel-inner{
  margin:-24.375em 10% 0 10%;
  width:80%;
  height:27.3125rem;
}
#myCarousel.carousel.slide{
  height:auto;
}
.carousel-indicators{
 top: 93.8448%
}
.David-Bynon{
  height:auto;
  width:28%;
  font-size:1rem;
  margin:6.7567% 34.594% 0 36.594%;
}
.Medicarewirecom{
  width:38%;
  height: auto;
  font-size:1rem;
  margin: 1% 36.8% 0 30.7%;
}
.From-the-very-first{
  height:auto;
  font-size:1rem;
  text-align: center;
  line-height: 1.4;
}
.carousel-indicators li{
  background-color: #e94555;
  padding:0;
  opacity: 0.2;
  width:0.625em;
}
.carousel-indicators .active{background-color: #e94555;
  padding:0;
  width: 0.625em;
}
.Rectangle-Copy-2{
  margin:0 30.6% 5.90% 33.6%;
  width:33.8%;
}
.Rectangle-Copy-2 h1{

  font-size:0.9rem;
  width:62.65217%;
  margin:5.21739% 18.39130437% 5.21739% 19%;
}
.footer{
  width: 100%;
  height:0%;
}
.Medianet-2019-Con{
  width: 57.1%;
  height: 0%;
  text-align:center;
  font-size: 0.625em;
  margin:0 25.4% 3% 24.5%;
}
.logo-ybnca-copy-5{
  width:35.2%;
  height: 0%;
  margin:1.6105% 35.9% 3.24450% 35.9%;
}
.gaming1 {
  width:47.775%;
  display: block;
  font-family: OpenSans;
  font-size: 0.875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
}
.gaming1 .text-style-2{
  font-weight: 800;
  color: #e94555;
}
.gaming {
  width: 47.775%;
  display: block;
  font-family: OpenSans;
  font-size: 0.875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4c4c4c;
}
.gaming .text-style-2{
  font-weight: 800;
  color: #e94555;
}
.st-click{
  width:80%;
  flex:0 1 auto;
  margin:5% 0;
  
}
.st-click img{
  width:100%;
}

.nd-click{
  width:80%;
  flex:0 1 auto;
  margin:5% 0;
  
}
.nd-click img{
  width:100%;
}
.Final{
  width:80%;
  flex:0 1 auto;
  margin:5% 0;
  
}
.Final img{
  width:100%;
}
.abc{
  width:100%;
  display: initial;
}
.abc img{
  width:100%;
  height:1.875rem;
  position: absolute;
  top:28.77%;
  right:40.22%;
  transform: rotate(90deg);
}
.xyz{
  width:100%;
  display: initial;
}
.xyz img{
  width:100%;
  height:1.875rem;
  position: absolute;
  top:59.77%;
  left:39.33%;
  -webkit-transform: scaleX(-1) rotate(90deg);
 
}
 
}
